.loginSection {
  width: 350px;
}

.loginTitle {
  display: block;
  margin-bottom: 15px;
  color: #2f80ed;
}

.authLink {
  text-decoration: none;
  color: #2f80ed;
}

.authLink:hover {
  text-decoration: underline;
}
